{% extends 'templates/base.twig' %}

{% set page_settings = {
    classes: {
        body: 'brands-page',
    },
    breadcrumbs: [
        { text: 'Бренды', href: 'cart.html', active: true },
    ]
} %}

{% block content %}
    <section class="section">
        <div class="container section__main">
            <h1 class="title title-h1">Бренды</h1>

            <div class="text-content">
                <p>
                    Наш сайт является официальным дилером представленных торговых марок. Это означает, что вся продукция
                    фирменная, никакого «серого импорта». На все товары распространяется гарантия производителя, а цены
                    на нашем сайте соответствуют рекомендованным производителем.
                </p>

                <p>
                    Наш сайт является официальным дилером представленных торговых марок. Это означает, что вся продукция
                    фирменная, никакого «серого импорта». На все товары распространяется гарантия производителя, а цены
                    на нашем сайте соответствуют рекомендованным производителем.
                </p>
            </div>

            <div class="brand-card-grid is-scrollable-mobile">
                {% for item in 1..12 %}
                    <a href="" class="brand-card brand-card-dark">
                        <img src="https://premier-demo.ru/upload/iblock/0aa/etjlwqlggz5dpkqy92vy5dqbbfmk70mp.png"
                             alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container section__main">
            {% set letters_ru = ['А', 'Б', 'В', 'Г', 'Д', 'Е', 'Ё', 'Ж', 'З', 'И', 'Й', 'К', 'Л', 'М', 'Н', 'О', 'П', 'Р', 'С', 'Т', 'У', 'Ф', 'Х', 'Ц', 'Ч', 'Ш', 'Щ', 'Э', 'Ю', 'Я'] %}

            <nav class="brands-page__navigation is-scrollable-mobile" id="brandsPageLetters" role="tablist">
                {% for letter in letters_ru %}
                    <button class="{{ loop.first ? 'active' : '' }}" id="tab-{{ letter }}-tab" data-bs-toggle="tab"
                            data-bs-target="#tab-{{ letter }}" type="button" role="tab" aria-controls="{{ letter }}"
                            aria-selected="false">{{ letter }}</button>
                {% endfor %}
            </nav>

            <div class="tab-content" id="brandsPageLettersContent">
                {% for letter in letters_ru %}
                    <div class="tab-pane fade {{ loop.first ? 'active show' : '' }}" id="tab-{{ letter }}"
                         role="tabpanel"
                         aria-labelledby="tab-{{ letter }}-tab">
                        {% for item in 1..5 %}
                            <div class="brands-page__brand">
                                <div class="row g-3">
                                    <div class="col-lg-2">
                                        <span class="title title-h3">A</span>
                                    </div>

                                    <div class="col-lg-10">
                                        <div class="row row-cols-md-4 row-cols-2 g-4">
                                            {% for item in 1..6 %}
                                                <div class="col">
                                                    <a href="">Desti</a>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}