{% extends 'templates/page.twig' %}

{% block title %}Сравнение товаров{% endblock %}

{% block page_title %}Сравнение товаров{% endblock %}

{% block page_content %}

    <div class="page__layout page__layout--default">
        {% set letters_ru = [
            'Пищевые добавки',
            'Творческие наборы'
        ] %}

        <nav class="tabs-head" id="ComparePageCategories" role="tablist">
            {% for letter in letters_ru %}
                <button class="{{ loop.first ? 'active' : '' }} tabs-head__link" id="tab-{{ letter }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#tab-{{ letter }}" type="button" role="tab" aria-controls="{{ letter }}"
                        aria-selected="false">
                    {{ letter }}
                </button>
            {% endfor %}
        </nav>

        <div>
            asdas
        </div>

        <div class="tab-content" id="ComparePageCategories">
            {% for letter in letters_ru %}
            <div class="tab-pane fade {{ loop.first ? 'active show' : '' }}" id="tab-{{ letter }}" role="tabpanel"
                 aria-labelledby="tab-{{ letter }}-tab">
                asdasd
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}