{% extends 'templates/base.twig' %}

{% block title %}Home Page - Aspro{% endblock %}

{% block body_class %}home-page{% endblock %}
{% block main_class %}home-page__main{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="jumbotron__slide"
                             style="background-image: url(https://premier-demo.ru/upload/iblock/04e/c4b0gseapzp7hop5a4058aiy52s60onu.jpg)">
                            <div class="jumbotron__wrapper">
                                <h2 class="jumbotron__title title title-h1">
                                    Полное погружение в мир виртуальной реальности
                                </h2>

                                <div class="jumbotron__text">
                                    Ваш постоянный источник энергии.
                                    Универсален для любой ситуаций: <br>
                                    от оснащения электропитанием
                                </div>

                                <a href="" class="jumbotron__button button button-lg button-default">В каталог</a>
                            </div>

                            <img src="https://premier-demo.ru/upload/iblock/ca4/9vnae1b2nkshojojds0v4b1cphxyorcp.png"
                                 class="jumbotron__person"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="container">
        <div class="swiper catalog-card-slider js-catalog-card-slider">
            <div class="swiper-wrapper">
                {% for item in 1..15 %}
                    <div class="swiper-slide">
                        <a href="" class="catalog-card">
                            <img src="https://premier-demo.ru/upload/iblock/b2e/ay221srrr73tkvc5i51e23uy1x9c4qrp.jpg"
                                 alt="" class="catalog-card__picture">

                            <span class="catalog-card__text title title-h7">
                                Хобби и творчество
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button-next swiper-arrow"></div>
            <div class="swiper-button-prev swiper-arrow"></div>
        </div>
    </section>

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Лучшие предложения</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        {% set tabs = [
            {'id': 'HomePageBestProductHits', 'label': 'Хит', 'active': true, 'disabled': false},
            {'id': 'HomePageBestProductAdvice', 'label': 'Советуем', 'active': false, 'disabled': false},
            {'id': 'HomePageBestProductNew', 'label': 'Новинка', 'active': false, 'disabled': false},
            {'id': 'HomePageBestProductSales', 'label': 'Акция', 'active': false, 'disabled': false},
        ] %}

        <div id="HomePageBestProducts" role="tablist" class="home-page__tabs tabs-head">
            {% for tab in tabs %}
                <button
                        class="tabs-head__link {% if tab.active %}active{% endif %}"
                        id="{{ tab.id }}-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#{{ tab.id }}-tab-pane"
                        type="button"
                        role="tab"
                        aria-controls="{{ tab.id }}-tab-pane"
                        aria-selected="{{ tab.active ? 'true' : 'false' }}"
                >
                    {{ tab.label }}
                </button>
            {% endfor %}
        </div>

        <div class="tab-content tabs-content" id="HomePageBestProductsContent">
            {% for tab in tabs %}
                <div
                        class="tabs-content__item tab-pane fade {% if tab.active %}show active{% endif %}"
                        id="{{ tab.id }}-tab-pane"
                        role="tabpanel"
                        aria-labelledby="{{ tab.id }}-tab"
                        tabindex="0"
                >
                    <div class="product-card-grid">
                        {% for item in 1..10 %}
                            {% include '../components/shop/product.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Бренды</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="brand-card-grid">
            {% for item in 1..12 %}
                <a href="" class="brand-card">
                    <img src="https://premier-demo.ru/upload/iblock/0aa/etjlwqlggz5dpkqy92vy5dqbbfmk70mp.png"
                         alt="">
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="container">
        <div class="catalog-banner-grid">
            {% for item in 1..4 %}
                <div class="catalog-banner">
                    <img src="https://premier-demo.ru/upload/iblock/917/63i7t3kzcl2l03awdzokmecrfaztjs4p.jpg"
                         alt=""
                         class="catalog-banner__img">

                    <div class="catalog-banner__content">
                        <div class="catalog-banner__value">Новинка</div>
                        <div class="catalog-banner__title title title-h5">Женская парфюмерия</div>

                        <div class="catalog-banner__actions">
                            <a href="" class="button button-sm">Спальные мешки</a>
                            <a href="" class="button button-sm">Посуда</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Отзывы</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="swiper js-reviews-slider">
            <div class="swiper-wrapper">
                {% for item in 1..10 %}
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-card__head">
                                <div class="review-card__author">
                                    <img src="https://premier-demo.ru/upload/resize_cache/iblock/09f/56_56_2/ko3l6vf2lan6p5bqojivm8nzlvn4m0kc.jpg"
                                         alt="" class="review-card__picture">

                                    <div>
                                        <div class="review-card__name title title title-h4">Иван Иванов</div>

                                        <div class="review-card__info">
                                            <span>Душевая кабина Misterio 3000</span>

                                            <span>12.12.2023</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="review-card__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15"
                                         viewBox="0 0 14 15" fill="none">
                                        <path d="M6.47327 0.596967C6.64254 0.0676935 7.35746 0.0676942 7.52673 0.596967L8.82832 4.66666C8.90357 4.90195 9.11308 5.06135 9.35005 5.06359L13.4485 5.10223C13.9815 5.10726 14.2024 5.81924 13.774 6.15137L10.48 8.70522C10.2896 8.85288 10.2095 9.11079 10.2807 9.34747L11.5121 13.441C11.6723 13.9734 11.0939 14.4135 10.6598 14.0894L7.32245 11.5981C7.12949 11.4541 6.87051 11.4541 6.67755 11.5981L3.34015 14.0895C2.90612 14.4135 2.32774 13.9734 2.48789 13.441L3.71927 9.34747C3.79047 9.11079 3.71044 8.85288 3.51999 8.70522L0.225976 6.15137C-0.202419 5.81924 0.0185023 5.10726 0.551515 5.10223L4.64995 5.06359C4.88691 5.06135 5.09643 4.90195 5.17168 4.66666L6.47327 0.596967Z"
                                              fill="#E6AC1A"></path>
                                    </svg>

                                    <span>4</span>
                                </div>
                            </div>

                            <div class="review-card__text">
                                <p>
                                    Купили сыну телефон Nika 8 LITE в этом интернет-магазине. Всем
                                    рекомендую!
                                    Сейчас
                                    такой ритм жизни, что совсем нет времени ездить по магазинам. Сайт нашел
                                    в
                                    поиске. Понравились характеристики и адекватная цена за телефон. Выбирал
                                    подарок
                                    на день рождения. Самое интересное, что смартфон сразу упаковали в
                                    праздничную
                                    бумагу и поверх закрепили бант. Менеджер сам это предложил! И это
                                    совершенно
                                    бесплатно. Доставили в оговоренное время. Рекомендую всем)
                                </p>
                            </div>

                            <a href="" class="review-card__link">Отзыв полностью</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <hr class="divider">

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Услуги</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="services-gird">
            {% for item in 1..4 %}
                <div class="service-card">
                    <a href="" class="service-card__picture">
                        <img src="https://premier-demo.ru/upload/iblock/b45/gtswttsrxl4gv7ku38e9id772k0f7j2a.jpg"
                             alt="">
                    </a>

                    <div class="service-card__content">
                        <a href="" class="service-card__title title title-h6">Монтаж оборудования</a>

                        <div class="service-card__info">
                            {% include '../shop/price.twig' with {
                                class: 'service-card__price',
                                size: 'md',
                                now: '1 300 ₽/шт',
                                old: '1 600 ₽/шт'
                            } %}

                            {% include '../components/ui/badge.twig' with {
                                text: '-50%',
                                type: 'red',
                                size: 'sm',
                                class: 'service-card__badge',
                                tag: 'div'
                            } %}
                        </div>

                        {% include '../components/shop/cashback.twig' %}

                        <a href="" class="button button-sm button-default">
                            Заказать услугу
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="home-page__sale">
        <div class="container home-page__layout">
            <a href="" class="home-page__title title title-h3">
                <span>Акции</span>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                    <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>

            <div class="sale-card-grid">
                {% for item in 1..2 %}
                    {% include '../components/sale-card.twig' %}
                {% endfor %}
            </div>

            <a href="" class="button button-lg button-default">
                Показать все
            </a>
        </div>
    </section>

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Время подкрепиться</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="product-card-grid">
            {% for item in 1..10 %}
                {% include '../components/shop/product.twig' %}
            {% endfor %}
        </div>
    </section>

    <section class="container home-page__layout">
        <a href="" class="home-page__title title title-h3">
            <span>Блог</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="row">
            <div class="col-lg-8">
                <div class="home-page__description text-content">
                    <p>
                        В интернет-магазине вы найдете многое: от строительных материалов до товаров для
                        творчества.
                        Мы работаем с крупными брендами и проверенными индивидуальными предпринимателями. Будьте
                        уверены в качестве наших товаров!
                    </p>
                </div>
            </div>
        </div>

        <div class="row g-3">
            <div class="col-lg-6">
                <a href="" class="post-card-bg"
                   style="background-image: url(https://premier-demo.ru/upload/iblock/d42/1ebgxewg8gzksy980o3uj8hdvzlzyfsv.jpg)">
                    {% include '../components/ui/badge.twig' with {
                        text: 'Творчество',
                        type: 'dark-opacity'
                    } %}

                    <span class="post-card-bg__title title title-h3">
                        Как рукоделие помогает развивать фантазию и улучшать настроение
                    </span>

                    <span class="post-card-bg__date">13 мая 2024</span>
                </a>
            </div>

            <div class="col-lg-6">
                <div class="post-card-grid">
                    {% for item in 1..2 %}
                        <div class="post-card">
                            {% include '../components/ui/badge.twig' with {
                                text: 'Творчество',
                                type: 'dark-opacity',
                                class: 'post-card__badge',
                                tag: 'div'
                            } %}

                            <div class="post-card__picture">
                                <img src="https://premier-demo.ru/upload/iblock/c3d/os6fn6gr7erb2gdk1zioizm8ti4rysvw.jpg"
                                     alt="">
                            </div>

                            <div class="post-card__content">
                                <span class="post-card__title title title-h6">
                                    Здоровое питание без глютена: как выбрать и приготовить?
                                </span>

                                <div class="post-card__date">
                                    11 мая 2024
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row g-3 home-page-about__row">
            <div class="col-lg-6">
                <div class="home-page-about">
                    <div class="home-page-about__title title title-h3">Интернет-магазин в Челябинске</div>

                    <div class="text-content">
                        <p>
                            Аспро: Премьер — магазин полезных вещей для себя, дома, офиса и дачи. Здесь вы
                            найдете
                            товары под свои предпочтения: от аудиотехники и одежды до строительных материалов и
                            велосипедов. Работаем с проверенными производителями с 2005 года. Доставляем товары
                            точно в срок.
                        </p>

                        <p>
                            В нашем магазине услуги доставки, сборки, установки и облуживания товаров продуманы
                            до
                            мелочей. Уделите внимание только подбору позиций в каталоге. Все остальные задачи
                            выполнит наша команда!
                        </p>
                    </div>

                    <a href="" class="button button-default button-xl">
                        О компании
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="home-page-about__picture">
                    <img src="https://premier-demo.ru/upload/iblock/23d/z803y75u7vhq7ojqasdbimqwvt921sjr.jpg"
                         alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <a href="" class="home-page__title title title-h2">
            <span>Контакты</span>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 12" fill="none">
                <path d="M1 1L5 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </a>

        <div class="home-page-section__content">

        </div>
    </section>

    <section class="home-page__seo">
        <div class="text-content container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto beatae
                deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet
                architecto beatae deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto beatae
                deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet
                architecto beatae deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet architecto beatae
                deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet
                architecto beatae deserunt
                distinctio doloribus ex excepturi fugiat ipsum minima nihil nulla numquam obcaecati placeat,
                quos
                rem sunt unde veniam.</p>
        </div>
    </section>

    <section class="container home-page__layout home-page-viewed-product">
        <h2 class="home-page__title title title-h2">Вы смотрели</h2>

        <div class="swiper js-products-view-slider">
            <div class="swiper-wrapper">
                {% for item in 1..10 %}
                    <div class="swiper-slide">
                        <div class="product-view">
                            <a href="">
                                <img width="96" height="96"
                                     src="https://premier-demo.ru/upload/resize_cache/iblock/a84/192_192_1/goaqzv53n9svrropgfrarjtxeh92fwqa.jpg"
                                     alt="">
                            </a>

                            <a href="" class="product-view__title">
                                Классическая помада Fior 133 Беспечный розовый
                            </a>

                            <div class="product-view__bottom">
                                {% include '../shop/price.twig' with {
                                    old: '1 600 ₽/шт',
                                    now: '1 300 ₽/шт',
                                    size: 'sm',
                                    class: 'product-view__price'
                                } %}

                                {% include '../components/ui/badge.twig' with {
                                    text: '-10%',
                                    type: 'red',
                                    size: 'sm',
                                    tag: 'div'
                                } %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button-next swiper-arrow"></div>
            <div class="swiper-button-prev swiper-arrow"></div>
        </div>
    </section>
{% endblock %}