<div class="site-footer {{ compact ? 'compact' : '' }}">
    <div class="container site-footer__layout">
        <div class="site-footer__top row row-cols-lg-5 row-cols-1">
            {% for item in 1..4 %}
                <div class="col">
                    <div class="site-footer__col">
                        <div class="site-footer__title title-h7 collapsed" data-bs-toggle="collapse" href="#FooterMenuItem{{ loop.index }}" role="button" aria-expanded="false" aria-controls="FooterMenuItem{{ loop.index }}">
                            Интернет-магазин

                            <svg class="contacts-widget__phone-chevron">
                                <use href="img/svg-icons-final.svg#down"></use>
                            </svg>
                        </div>

                        <div class="collapse" id="FooterMenuItem{{ loop.index }}">
                            {% if loop.index != 5 %}
                                <nav class="site-footer__list site-footer-list">
                                    {% for item in [
                                        'О компании',
                                        'Доставка и оплата',
                                        'Гарантия и возврат',
                                        'Контакты',
                                        'Партнерам',
                                        'Вакансии',
                                        'Блог',
                                        'Отзывы',
                                        'Пользовательское соглашение',
                                        'Политика конфиденциальности',
                                    ] %}
                                        <a href="" class="site-footer-list__link">{{ item }}</a>
                                    {% endfor %}
                                </nav>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="col">
                <div class="site-footer__list site-footer-list">
                    {% include '@components/contacts-widget.twig' %}

                    <a href="" class="site-footer-list__link">no-reply@chel.premier-demo.ru</a>

                    <div class="site-footer-list__link">Челябинск, ул. Лермонтова 21, 3 этаж, офис 4</div>
                </div>
            </div>
        </div>

        <div class="site-footer__logos">
            {% include '@components/payments.twig' with {} %}

            <div class="contacts-widget__socials">
                <a href="" class="contacts-widget__social-item contacts-widget__social-item--viber" aria-label="Viber"></a>
                <a href="" class="contacts-widget__social-item contacts-widget__social-item--vkontakte" aria-label="VKontakte"></a>
            </div>
        </div>

        <hr class="divider">

        <div class="site-footer__info">
            <span>© 2026 Аспро: Премьер</span>

            <div class="site-footer__links">
                {% include '@components/theme-switch.twig' with {text: true} %}

                <a href="" class="site-footer__link">Конфиденциальность</a>

                <a href="" class="site-footer__link">Оферта</a>
            </div>
        </div>

        <div class="site-footer__seo">
            <p>
                На информационном ресурсе применяются <a href="">рекомендательные технологии</a>.
            </p>

            <p>
                Все ресурсы сайта premier-demo.ru, включая (но не ограничиваясь) текстовую, графическую, фотографическую
                и
                видео информацию, структуру, дизайн и оформление страниц, доменное имя, фирменное наименование являются
                объектами авторского права и прав на интеллектуальную собственность, защищены российским
                законодательством и
                международными соглашениями об охране авторских прав. Запрещается любое использование содержания страниц
                и
                контента данного сайта на других площадках без предварительного согласия правообладателя. Запрещаются
                любые
                иные действия, в результате которых у пользователей Интернета может сложиться впечатление, что
                представленные материалы не имеют отношения к premier-demo.ru.
            </p>
        </div>
    </div>
</div>