{% set actions = [
    { href: '', icon: 'phone-action', text: 'Звонок', width: 18, height: 18, counter: false, class: 'disabled-desktop' },
    { href: '', icon: 'search-action', text: 'Поиск', width: 18, height: 18, counter: false, class: 'disabled-desktop' },
    { href: '', icon: 'log-out', text: 'Войти', width: 18, height: 18, counter: false },
    { href: 'compare.html', icon: 'compare', text: 'Сравнение', width: 20, height: 20, counter: true, class: 'disabled-mobile' },
    { href: 'favorites.html', icon: 'favorite', text: 'Избранное', width: 20, height: 20, counter: true, class: 'disabled-mobile' },
    { href: 'cart.html', icon: 'cart', text: 'Корзина', width: 20, height: 20, counter: true }
] %}


<header class="site-header compact">
    <div class="container">
        <div class="site-header__row">
            <div class="site-header__location site-header-location">
                <svg class="site-header-location__icon">
                    <use xlink:href="img/svg-icons-final.svg#region"></use>
                </svg>

                <span class="site-header-location__value">
                    Челябинск
                </span>
            </div>

            <div class="site-header__left">
                <button class="site-header__burger" type="button" data-bs-toggle="offcanvas" data-bs-target="#LeftMenu"
                        aria-controls="LeftMenu">
                    <svg width="20" height="14">
                        <use href="img/svg-icons-final.svg#burger"></use>
                    </svg>
                </button>

                <a href="/home.html" class="site-header__logo logo">
                    <svg width="168" height="32">
                        <use href="img/svg-icons-final.svg#logo"></use>
                    </svg>
                </a>
            </div>

            <div>
                {% include '../components/contacts-widget.twig' %}

                <div class="site-header__actions">
                    {% for action in actions %}
                        <div class="site-header-action js-header-action {{ action.class }} {{ action.icon == 'search-action' ? 'js-search-mobile-opener' : '' }}">
                            <a href="{{ action.href }}" class="site-header-action__link"
                               {% if action.icon == 'log-out' %}data-bs-toggle="modal" data-bs-target="#LoginModal"{% endif %}
                                    {% if action.icon == 'phone-action' %}data-bs-toggle="modal" data-bs-target="#CallbackModal"{% endif %}>
                            <span class="site-header-action__top">
                                <svg class="site-header-action__icon" width="{{ action.width }}"
                                     height="{{ action.height }}">
                                    <use href="img/svg-icons-final.svg#{{ action.icon }}"></use>
                                </svg>

                                {% if action.counter %}
                                    <span class="site-header-action__counter">1</span>
                                {% endif %}
                            </span>

                                <span class="site-header-action__text">{{ action.text }}</span>
                            </a>

                            {% if action.counter %}
                                {% include '../components/shop/float-cart.twig' with {
                                    cart: loop.last,
                                    class: 'js-header-action-dropdown'
                                } %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</header>
