{% set actions = [
    { href: '', icon: 'log-out', text: 'Войти', width: 18, height: 18 },
    { href: '', icon: 'compare', text: 'Сравнение', width: 20, height: 20 },
    { href: '', icon: 'favorite', text: 'Избранное', width: 20, height: 20 },
    { href: '', icon: 'cart', text: 'Корзина', width: 20, height: 20 }
] %}

<header class="site-header js-header">
    <div class="site-header__container container">
        <div class="site-header__top">
            {# Город #}
            <div class="site-header__location site-header-location">
                <svg class="site-header-location__icon">
                    <use xlink:href="img/svg-icons-final.svg#region"></use>
                </svg>

                <span class="site-header-location__value">
                    Челябинск
                </span>
            </div>

            {# Меню #}
            {% include '../layouts/mega-menu.twig' with {
                class: 'site-header__menu',
            } %}

            {# Контакты #}
            <div class="site-header__callback site-header-callback">
                {% include '../components/contacts-widget.twig' %}

                <a href="" class="site-header-callback__value">Заказать звонок</a>
            </div>

            <button type="button" class="site-header__shine js-theme-toggle">
                <svg width="16" height="16">
                    <use href="img/svg-icons-final.svg#theme-light"></use>
                </svg>

                <svg width="16" height="16">
                    <use href="img/svg-icons-final.svg#theme-dark"></use>
                </svg>
            </button>
        </div>
    </div>

    <div class="site-header__main">
        <div class="container">
            <div class="site-header__left">
                <button class="site-header__burger" type="button" data-bs-toggle="offcanvas" data-bs-target="#LeftMenu"
                        aria-controls="LeftMenu">
                    <svg width="20" height="14">
                        <use href="img/svg-icons-final.svg#burger"></use>
                    </svg>
                </button>

                <a href="" class="site-header__logo logo">
                    <svg width="168" height="32">
                        <use href="img/svg-icons-final.svg#logo"></use>
                    </svg>
                </a>
            </div>

            <button type="button" class="site-header__catalog-btn is-fixed button button-default button-lg js-fast-catalog__toggle">
                <svg width="14" height="14" class="site-header-catalog__icon">
                    <use href="img/svg-icons-final.svg#catalog"></use>
                </svg>

                <svg width="14" height="14" class="site-header-catalog__icon">
                    <use href="img/svg-icons-final.svg#close"></use>
                </svg>

                <span>Каталог</span>
            </button>

            {% include 'components/search.twig' with {
                class: 'site-header__search',
            } %}

            <div class="site-header__actions">
                {% for action in actions %}
                    <div class="site-header-action js-header-action">
                        <a href="{{ action.href }}" class="site-header-action__link">
                            <span class="site-header-action__top">
                                <svg class="site-header-action__icon" width="{{ action.width }}"
                                     height="{{ action.height }}">
                                    <use href="img/svg-icons-final.svg#{{ action.icon }}"></use>
                                </svg>

                                {% if loop.index != 1 %}
                                    <span class="site-header-action__counter">1</span>
                                {% endif %}
                            </span>

                            <span class="site-header-action__text">{{ action.text }}</span>
                        </a>

                        {% if loop.index != 1 %}
                            {% include '../components/shop/float-cart.twig' with {
                                cart: loop.last,
                                class: 'js-header-action-dropdown'
                            } %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="site-header__container container">
        <div class="site-header__bottom">
            <button type="button" class="site-header__catalog-btn button button-default button-xl js-fast-catalog__toggle">
                <svg width="14" height="14" class="site-header-catalog__icon">
                    <use href="img/svg-icons-final.svg#catalog"></use>
                </svg>

                <svg width="14" height="14" class="site-header-catalog__icon">
                    <use href="img/svg-icons-final.svg#close"></use>
                </svg>

                <span>Каталог</span>
            </button>

            <div class="site-header__categories site-header-categories swiper js-header-catalog-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="site-header-categories__main">Смартфоны</a>
                    </div>

                    {% for item in 1..5 %}
                        <div class="swiper-slide">
                            <a href="" class="site-header-categories__item">
                                <svg class="site-header-categories__icon" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M5.36003 0.319999C5.62512 -0.0334628 6.12656 -0.105097 6.48003 0.159999L6.482 0.161483L6.48471 0.163531L6.49229 0.169313L6.51582 0.187551C6.53508 0.202642 6.5614 0.223599 6.59376 0.250178C6.6584 0.303278 6.74758 0.379164 6.85311 0.475901C7.06321 0.668498 7.34324 0.948397 7.62472 1.30024C7.72359 1.42383 7.82491 1.55914 7.92459 1.70531C8.05094 1.51056 8.1964 1.32939 8.3629 1.16288C9.22919 0.296594 10.4925 -1.90371e-06 12 -1.90371e-06C12.4418 -1.90371e-06 12.8 0.35817 12.8 0.799998C12.8 2.22326 12.5356 3.42891 11.777 4.28824C14.2266 5.07238 16 7.36801 16 10.0779V10.4172C16 14.5451 11.631 17.1762 8.00003 15.3073C4.36901 17.1762 3.05176e-05 14.5451 3.05176e-05 10.4172V10.0779C3.05176e-05 6.72115 2.72117 4 6.07788 4H7.17981C7.09625 3.37368 6.76395 2.78553 6.37533 2.29976C6.15681 2.0266 5.93684 1.8065 5.77195 1.65535C5.68998 1.58021 5.6229 1.52328 5.57817 1.48654C5.55584 1.4682 5.53919 1.45497 5.52916 1.44712L5.51923 1.43941C5.1661 1.17424 5.09502 0.673336 5.36003 0.319999ZM8.8426 3.95741C9.6738 3.86498 10.1834 3.62805 10.5058 3.30574C10.8281 2.98343 11.065 2.47379 11.1574 1.64258C10.3262 1.73502 9.81658 1.97194 9.49427 2.29426C9.17196 2.61657 8.93503 3.12621 8.8426 3.95741ZM1.60003 10.4172C1.60003 13.3875 4.79166 15.2644 7.38746 13.8206C7.76836 13.6088 8.23169 13.6088 8.6126 13.8206C11.2084 15.2644 14.4 13.3875 14.4 10.4172V10.0779C14.4 7.6048 12.3952 5.6 9.92216 5.6H6.07788C3.60483 5.6 1.60003 7.6048 1.60003 10.0779V10.4172Z"/>
                                </svg>

                                <span class="site-header-categories__text">Здоровое питание</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="swiper-button-prev">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>

                <div class="swiper-button-next">
                    <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L6 6L1 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
                </div>
            </div>
        </div>

        {% include 'components/shop/fast-catalog.twig' with {
            class: 'site-header__catalog',
        } %}
    </div>
</header>